body {
    margin: 0;
    text-align: center;
    font-family: "Teko", sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    background: #F7D488;
}

.nav-bar {
    margin: 0 10px;
    align-self: center;
    color: black;
}

nav > #apomu {
    margin-right: auto;
    font-size: 5rem;
    margin-left: 10px;
}

.hero {
    background-image: url("images/Apomu.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-style {
    margin-top: 200px;
    margin-bottom: 0;
    font-size: 60px;
}

#slogan-style {
    margin-top: 20px;
}
h1, h2 {
    margin-top: 50px;
    margin-bottom: 100px;
    background: #F9A03F;
    border-radius: 10px;
    padding: 10px 20px;
}

.all-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.attractions {
    background: #F7D488;
    padding: 1px;
    margin-bottom: 40px;
}
    
.activities {
    display: flex;
    justify-content: space-around;
}

.guide {
    display: flex;
    background: #F7D488;
    width: 500px;
    height: 400px;
    margin: auto;
    padding: 20px 30px 20px 30px;
    border-radius: 50px;
    border-bottom: 8px solid brown;
}

.intro {
    align-self: center;
    font-size: 30px;
    width: 300px;
}

.ola-img {
    width: 200px;
    border-radius: 20px;
}

.further-info {
    font-size: 40px;
    text-align: center;
}

.linkedin {
    color: black;
}